*.log
TEST-REPORT.md
source/F1SpeedManager.Checks.exe

.vs/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
packages/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg

*.hotkeys.ini
*.hotkeys.ini.tmp
/F1 Speed Manager.exe
